* {
  background-color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-body {
  display: flex;
  flex-direction: row;
}

.backet-image {
  width: 20px;
  height: 20px;
}

.link {
  margin: 10px;
}
